footer {
	background: #fdfdfd;
	height: 100px;
	padding: 1px 0;
	bottom: 0;
}

.pre-footer, .post-footer {
	width: 200px;
	height: 100px;
	position: absolute;
}

.pre-footer {
	right: 100%;
	background: linear-gradient(to left, #fdfdfd, transparent);
}

.post-footer {
	left: 100%;
	background: linear-gradient(to right, #fdfdfd, transparent);
}

footer .phones {
	width: 1030px;
	margin: 10px auto;
}

	footer .phones .phone {
		display: inline-block;
		width: 180px;
		color: #99999b;
		border-left: 1px solid #99999b;
		text-align: center;
		padding: 0 10px 4px 10px;
	}

		footer .phones .phone:first-child {
			border: none;
		}

.payments-and-social {
	width: 50%;
	margin: 0 auto;
}

.payments, .social {
	display: inline-block;
	width: 49%;
}

	.payments .payment,
	.social .social-link {
		float: left;
		margin: 0 5px;
	}

	.payments .payment {
		width: 80px;
		height: 32px;
		overflow: hidden;
		background-position-y: 32px;
	}

		.payments .payment:hover {
			background-position-y: 0;
		}

		.payments .payment:hover,
		.social .social-link:hover {
			cursor: pointer;
		}

	.social .social-link {
		width: 32px;
		height: 32px;
		background-position-y: 32px;
	}

		.social .social-link:hover {
			background-position-y: 0;
		}


.phones .phone:before {
	margin-right:5px;
}

.phones .phone.velcom.gray:before {
	content: url('../images/velcom-gray.png');
}

.phones .phone.mts.gray:before {
	content: url('../images/mts-gray.png');
}

.phones .phone.home.gray:before {
	content: url('../images/home-gray.png');
}

footer .phones .phone:before {
	background-size: contain;
	position: relative;
	top: 3px;
}
