@import url('header.css');

#partnersCarousel {
    background-color: #fdfdfd;
}

    #partnersCarousel .partner {
        height: 40px;
        width: 104px;
        background-position-y: 40px;
    }

        #partnersCarousel .partner:hover {
            background-position-y: 0;
            cursor: pointer;
        }

.border {
    width: 1400px;
    height: 20px;
    margin: 0 auto;
}

    .border.upper {
        background: linear-gradient(to top,#ebebeb, transparent);
    }

    .border.lower {
        background: linear-gradient(to bottom,#ebebeb, transparent);
    }

.map {
    width: 1200px;
    height: 464px;
    background-image: url('../images/map.png');
}

.pre-partner, .post-partner {
    width: 200px;
    height: 80px;
    position: absolute;
}

.pre-partner {
    right: 100%;
    background: linear-gradient(to left, #fdfdfd, transparent 40%);
}

.post-partner {
    left: 100%;
     background: linear-gradient(to right, #fdfdfd, transparent 40%);
}
