#partnersCarousel {
	background-color: #fdfdfd;
}

	#partnersCarousel .partner {
		height: 40px;
		width: 104px;
		background-position: 0 40px;
	}

		#partnersCarousel .partner:hover {
			background-position: 0 0;
			cursor: pointer;
		}

.map-wrapper {
	position: relative;
	width: 1200px;
	height: 488px;
	margin: 20px 0 20px 0;
}

.map {
	position: relative;
	width: 1154px;
	height: 439px;
	/*background: url('../images/map.png')no-repeat;*/
	top: 23px;
	left: 23px;
	-webkit-box-shadow: 0 0 32px 16px #e3e3e3;
	-moz-box-shadow: 0 0 32px 16px #e3e3e3;
	box-shadow: 0 0 32px 16px #e3e3e3;
	pointer-events: none;
}

.map-wrapper .title {
	position: absolute;
	background-color: rgba(0,170,255,0.75);
	text-align: center;
	bottom: 26px;
	left: 23px;
	width: 1154px;
	padding: 5px 0;
	font-size: 24px;
}

#mapCanvas {
	margin: 0;
	padding: 0;
}

.labels {
	color: red;
	background-color: white;
	font-family: "Lucida Grande", "Arial", sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	width: 60px;
	border: 2px solid black;
	white-space: nowrap;
}

.pre-partner, .post-partner {
	width: 200px;
	height: 80px;
	position: absolute;
}

.pre-partner {
	right: 100%;
	background: linear-gradient(to left, #fdfdfd, transparent 40%);
}

.post-partner {
	left: 100%;
	background: linear-gradient(to right, #fdfdfd, transparent 40%);
}
