.portfolio {
    margin: 0 2.5%;
    padding: 0;
    overflow: hidden;
    float: left;
    width: 70%;
    position: relative;
}

#portfolio li {
    list-style: none;
    float: left;
    margin: 0;
    width: 25%;
    border: 2px solid #b0b0b0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: black;
}

    #portfolio li:hover {
        border-color: #00aaff;
        cursor: pointer;
    }

    #portfolio li img {
        width: 100%;
        vertical-align: middle;
    }

    #portfolio li:hover img {
        opacity: 0.7;
    }

.pager {
    text-align: center;
    margin: 5px auto;
    padding: 10px 0;
}

    .pager a {
        color: #868686;
        margin: 2px 2px;
        font-size: 17px;
        text-decoration: none;
        vertical-align: middle;
    }

        .pager a:hover {
            cursor: pointer;
        }

    .pager .jp-previous {
        background-image: url('../images/portfolio/left-arrow.png');
        width: 8px;
        height: 17px;
        display: inline-block;
    }

    .pager .jp-next {
        background-image: url('../images/portfolio/right-arrow.png');
        width: 8px;
        height: 17px;
        display: inline-block;
    }

    .pager .jp-current {
        color: #61c5fc;
    }

#fullImageContainer {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
}

    #fullImageContainer .image-wrapper {
        width: 650px;
        height: 650px;
        margin: auto;
        padding: 5px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #e7e8e9;
    }

        #fullImageContainer .image-wrapper .container {
            overflow: hidden;
        }

        #fullImageContainer .image-wrapper img {
            position: relative;
            width: 100%;
        }

    #fullImageContainer .underlay {
        background-color: black;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        position: absolute;
        cursor: pointer;
    }

    #fullImageContainer #description {
        padding: 10px 5px;
        font-size: 18px;
        position: absolute;
        bottom: 5px;
        background-color: rgba(119,112,115,0.8);
        width: 630px;
        color: white;
    }

    #fullImageContainer .arrow {
        width: 16%;
        height: 100%;
        position: absolute;
        cursor: pointer;
        top: 0;
        background-repeat: no-repeat;
    }

    #fullImageContainer .left.arrow {
        background-image: url('../images/portfolio/full-left-arrow.png');
        right: 100.8%;
        background-position: right 307px;
    }

    #fullImageContainer .right.arrow {
        background-image: url('../images/portfolio/full-right-arrow.png');
        left: 101%;
        background-position: 0 307px;
    }

    #fullImageContainer .close-button {
        background-image: url('../images/portfolio/cross.png');
        background-repeat: no-repeat;
        position: absolute;
        top: 2%;
        right: 2%;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

        #fullImageContainer .close-button:hover {
            background-position: -25px 0;
        }

        #fullImageContainer .close-button:active {
            background-position: -50px 0;
        }

    #fullImageContainer .arrow:hover {
        opacity: 0.6;
    }
