.samples-wrapper {
    margin-top: 40px;
}

.samples {
    position: relative;
    background-color: #ffffff;
}

    .samples .tab-control {
        position: absolute;
        bottom: 100%;
        border-radius: 5px 5px 0 0;
        background-color: #efefef;
        border-bottom: 1px solid #d4d4d3;
        -webkit-box-shadow: 0 0 16px 2px rgba(50, 50, 50, 0.54);
        -moz-box-shadow: 0 0 16px 2px rgba(50, 50, 50, 0.54);
        box-shadow: 0 0 16px 2px rgba(50, 50, 50, 0.54);
        display: table-row;
    }

        .samples .tab-control .tab {
            display: table-cell;
            width: 173px;
            color: #6e6767;
            padding: 5px 20px;
            text-align: center;
            vertical-align: middle;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

            .samples .tab-control .tab.active {
                margin-bottom: -1px;
                background-color: #ffffff;
                border-bottom: 1px solid #ffffff;
                border-radius: 5px 5px 0 0;
                -webkit-box-shadow: 0 0 30px 4px rgba(50, 50, 50, 0.54);
                -moz-box-shadow: 0 0 30px 4px rgba(50, 50, 50, 0.54);
                box-shadow: 0 0 30px 4px rgba(50, 50, 50, 0.54);
            }

            .samples .tab-control .tab:hover {
                color: #00aaff;
                cursor: pointer;
            }

    .samples .page {
        display: none;
        background: #ffffff;
        position: relative;
    }

        .samples .page.active {
            display: block;
        }

        .samples .page .item {
            float: left;
            width: 197px;
            text-align: center;
        }

            .samples .page .item .image-wrapper {
                display: inline-block;
                margin: 20px 0;
                border: 3px solid #d7d7d7;
                border-radius: 50%;
                background-color: black;
            }

                .samples .page .item .image-wrapper:hover {
                    cursor: pointer;
                    border-color: #0093dd;
                }

                    .samples .page .item .image-wrapper:hover img {
                        opacity: 0.7;
                    }

                .samples .page .item .image-wrapper img {
                    vertical-align: middle;
                }

.info h2 {
    padding: 10px 0;
    margin: 0 10px;
    border-bottom: 1px solid #efefef;
}

.info p {
    margin: 10px;
    white-space: pre-line;
}

.info .features {
    padding: 0 0.5%;
}

    .info .features .feature {
        float: left;
        width: 31%;
        margin: 10px 1%;
        position: relative;
        display: table-row;
    }

        .info .features .feature > div {
            display: table-cell;
            vertical-align: middle;
            padding-right: 10px;
        }

.prices {
    margin: 20px 10px;
    width: 100%;
    -webkit-box-shadow: 0 0 12px 2px rgba(50, 50, 50, 0.54);
    -moz-box-shadow: 0 0 12px 2px rgba(50, 50, 50, 0.54);
    box-shadow: 0 0 12px 2px rgba(50, 50, 50, 0.54);
}

    .prices td {
        width: 33%;
        text-align: center;
        padding: 10px;
        font-size: 1.1em;
        color: #6e6767;
        position: relative;
    }

        .prices td:not(:first-child):before {
            content: "";
            position: absolute;
            left: 0;
            top: 20%;
            height: 60%;
            border-left: 3px solid #afafaf;
        }


    .prices thead tr {
        background-color: #e9e9e9;
    }

    .prices tr {
        background-color: #fff;
    }

        .prices tr:nth-child(even) {
            background-color: #e9e9e9;
        }

.disclaimer {
    text-align: center;
    color: #ff0000;
    text-transform: uppercase;
}

/*full image*/
#fullImageContainer {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
}

    #fullImageContainer .image-wrapper {
        display: inline-block;
        max-width: 80%;
        margin: auto;
        padding: 5px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        background-color: #e7e8e9;
    }

        #fullImageContainer .image-wrapper .container {
            overflow: hidden;
            text-align: center;
        }

        #fullImageContainer .image-wrapper img {
            position: relative;
        }

    #fullImageContainer .underlay {
        background-color: black;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        position: absolute;
        cursor: pointer;
    }

    #fullImageContainer #description {
        padding: 10px 5px;
        font-size: 18px;
        position: absolute;
        bottom: 5px;
        background-color: rgba(119,112,115,0.8);
        width: 630px;
        color: white;
    }

    #fullImageContainer .arrow {
        width: 16%;
        height: 100%;
        position: absolute;
        cursor: pointer;
        top: 0;
        background-repeat: no-repeat;
        background-position-y: 52%;
    }

    #fullImageContainer .left.arrow {
        background-image: url('../images/portfolio/full-left-arrow.png');
        right: 100.8%;
        background-position-x: right;
    }

    #fullImageContainer .right.arrow {
        background-image: url('../images/portfolio/full-right-arrow.png');
        left: 101%;
    }

    #fullImageContainer .close-button {
        background-image: url('../images/portfolio/cross.png');
        position: absolute;
        top: 10px;
        right: 10px;
        width: 33px;
        height: 33px;
        cursor: pointer;
    }

        #fullImageContainer .arrow:hover,
        #fullImageContainer .close-button:hover {
            opacity: 0.6;
        }
