@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic);
@import url('reset.css');

body {
	margin: 0;
	font-family: 'PT Sans', sans-serif;
}

.clearfix:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}


.main-wrapper {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}

.logo-wrapper {
	background-image: url('../images/logo.png');
}
